.description .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description .container.row {
    flex-direction: row;
}

.description .container h4 {
    color: var(--grey-color);
    text-align: center;
}

.description .container .tabs img {
    width: 42px;
    height: 42px;
    display: block;
    margin-bottom: 12px;
}

.description .tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 70px 0;
}

.description .container a {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description .img, .description .content {
    color: var(--grey-color);
    width: 50%;
}

.description .container.row img {
    padding-right: 50px;
}

.description .content {
    padding-left: 50px;
}

.description p:last-child {
    color: var(--white-color);
}

.description .content hr {
    border-color: var(--decription-hr-color);
    width: 100%;
}

.description .img {
    position: relative;
    margin-bottom: 158px;
}

.description .dots {
    position: absolute;
    width: 158px;
    height: 153px;
    top: -36px;
    left: -76px;
}

.description .triangle {
    bottom: 0;
    width: 37px;
    height: 33px;
    right: 55px;
    position: absolute;
    transform: translateY(40%);
}

.description .main {
    width: 100%;
    position: relative;
}
