:root {
    --body-background-color: #01081F;
    --nav-link-color: #E7EAEE;
    --button-primary-color: #2F5BEA;
    --white-color: #FFF;
    --grey-color: #7E8085;
    --decription-hr-color: #151C32;
    --section-bg-color: #151C32;
    --section-hr-color: #1E2745;
    --left-hr-color: #E7EAEE;
    --left-button-color: #54565A;
    --left-br-color: #C9CDD5;
    --right-br-color: #1A49DE;
}

body {
    background-color: var(--body-background-color);
    font-family: Nunito, -apple-system, sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

ul {
    margin: 0;
    padding: 0;
}

ul.inline {
    list-style: none;
    display: flex;
}

button {
    border-radius: 5px;
    padding: 13px 20px;
    color: var(--button-primary-color);
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
    line-height: 16px;
}

button.white {
    background-color: var(--white-color);
    border-color: var(--white-color);
}

button.primary {
    background-color: var(--button-primary-color);
    border-color: var(--button-primary-color);
    color: var(--white-color);
    padding: 18px 71px;
    font-size: 18px;
}

h2 {
    font-size: 34px;
    color: var(--white-color);
    line-height: 39px;
    margin: 0 0 20px;
}

h3 {
    font-size: 21px;
    color: var(--white-color);
    line-height: 34px;
    margin: 0;
}

h4 {
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}

p {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 28px;
}
