.pricing {
    background-color: var(--decription-hr-color);
}

.pricing .container {
    display: flex;
    flex-direction: column;
}

.pricing .cards {
    display: flex;
    align-items:center;
    justify-content: center;
}

.pricing p {
    text-align: center;
}

.pricing .card-left, .pricing .card-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin: 62px 27px 45px;
    width: 382px;
    height: 428px;
}

.pricing .card-left {
    background-color: var(--white-color);
}

.pricing .card-right {
    background-color: var(--button-primary-color);
}

.pricing .card-left h2, .pricing .card-right h2 {
    padding: 29px 140px 10px;
    font-size: 60px;
    margin-top: 0;
}

.pricing .card-left h2 {
    color: var(--button-primary-color);
}

.pricing .card-right h2 {
    color: var(--white-color);
}

.pricing .card-left h3, .pricing .card-right h3 {
    text-align: center;
    margin-bottom: 34px;
}

.pricing .card-left h3 {
    color: var(--grey-color);
}

.pricing .card-left hr, .pricing .card-right hr {
    width: 100%;
    border-width: 1px 0;
}

.pricing .card-left hr {
    border-color: var(--left-hr-color);
}

.pricing .card-right hr {
    border-color: var(--right-br-color);
}

.pricing .card-left p, .pricing .card-right p {
    padding: 30px 40px 24px;
    text-align: left;
}

.pricing .card-left button {
    color: var(--left-button-color);
    border-color: var(--left-br-color);
}

.pricing h2 {
    text-align: center;
    margin-top: 122px;
}

.pricing a {
    display: flex;
    justify-content: center;
    color: var(--button-primary-color);
    margin-bottom: 126px;
}


