.how-works {
    background-color: var(--section-bg-color);
}

.how-works .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.how-works .container h2 {
    margin-top: 152px;
}
.how-works .levels {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.how-works .levels div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.how-works img {
    margin: 67px 0 27px 0;
}

.how-works p {
    text-align: center;
}

hr {
    border-color: var(--section-hr-color);
}

.how-works .built {
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-works .built img {
    margin: 0;
    padding-right: 125px;
}

.how-works .built p {
    text-align: start;
}

.how-works .built a {
    color: var(--button-primary-color);
}

.how-works .built .technologies {
    display: flex;
}

.how-works .built .technologies img {
    width: 40px;
    padding-right: 15px;
}

