.how-works {
    background-color: var(--section-bg-color);
    padding-bottom: 100px;
}

.how-works .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.how-works .container h2 {
    margin-top: 152px;
}
.how-works .levels {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.how-works .levels div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.how-works img {
    margin: 67px 0 27px 0;
}

.how-works p {
    text-align: center;
}

.how-works hr {
    border-color: var(--section-hr-color);
    width: 100%;
    margin: 123px 0;
}

.how-works .built {
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-works .built img {
    margin: 0;
    padding-right: 125px;
}

.how-works .built p {
    text-align: start;
}

.how-works .built a {
    color: var(--button-primary-color);
    margin-bottom: 182px;
}

.how-works .built .technologies {
    display: flex;
}

.how-works .built .technologies img {
    width: 40px;
    padding-right: 15px;
}

@media screen and (max-width: 991px) {
    .how-works .container {
        padding: 0 16px;
    }

    .how-works .built {
        flex-direction: column-reverse;
    }

    .how-works .built img {
        padding-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .how-works .container h2 {
        text-align: center;
        margin-top: 48px;
    }

    .how-works .levels {
        flex-direction: column;
    }

    .how-works img {
        margin: 0;
    }

    .how-works .levels > img {
        transform: rotate(90deg);
    }

    .how-works hr {
        margin: 24px;
    }

    .how-works .built img {
        width: 100%;
    }
}

