.unique-blocks .container {
    display: flex;
}

.unique-blocks p {
    padding: 40px 0 52px;
    margin-right: 133px;
    text-align: start;
}

.unique-blocks h2 {
    margin-top: 217px;
}

.unique-blocks img {
    margin: 170px 0;
}

.unique-blocks a {
    color: var(--button-primary-color);
}

.testimonial .container{
    display: flex;
    flex-direction: column;
}

.testimonial h2, .testimonial p {
    text-align: center;
}

.testimonial .reviews {
    position: relative;
}

.testimonial .reviews .row {
    display: flex;
    justify-content: space-between;
}

.testimonial .dots, .testimonial .wave {
    position: absolute;
}

.testimonial .dots {
    top: -30px;
    left: -86px;
}

.testimonial .wave {
    bottom: 33px;
    right: -50px;
}

.testimonial .review {
    width: 33.3333333%;
    background-color: var(--white-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 0 9px;
}

.testimonial .review:first-child {
    margin-left: 0;
}

.testimonial .review:last-child {
    margin-right: 0;
}

.testimonial .review div {
    display: flex;
    align-items: center;
    padding: 0 16px 12px;
}

.testimonial .review img {
    margin-right: 12px;
}

.testimonial .review p {
    text-align: left;
    padding: 0 15px;
    margin-top: 11px;
}

.testimonial .container > p {
    margin: 0 0 52px;
}

.testimonial a {
    display: flex;
    justify-content: center;
    margin: 37px 0 114px;
    color: var(--button-primary-color);
}

.testimonial .brands {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 0 109px;
}

.testimonial .brands li {
    padding: 0 8px 24px;
}

@media screen and (max-width: 991px) {
    .unique-blocks .container {
        flex-direction: column;
        padding: 0 16px;
    }

    .unique-blocks img {
        margin: 48px auto;
        display: block;
    }

    .testimonial .container {
        padding: 0 16px;
    }

    .testimonial .brands {
    }

}

@media screen and (max-width: 767px) {
    .unique-blocks h2 {
        margin-top: 48px;
        text-align: center;
    }

    .unique-blocks p {
        text-align: center;
        margin: 0;
    }

    .unique-blocks img {
        width: 100%;
    }

    .testimonial .reviews .row {
        flex-direction: column;
    }

    .testimonial .review {
        width: 100%;
        margin: 0 0 16px;
    }
}

